/* 1. Remove underline from all hyperlinks */
a {
    text-decoration: none;
  }
  
  /* 2. Change color to green after a link is visited (clicked) */
  a:visited {
    color: green;
  }
  
  /* 3. Change color to yellow when hovering over a link */
  a:hover {
    color: yellow;
  }
  